<section class="section">
    <div class="title">
        <h1>Academic education</h1>
    </div>
    <div class="section-body">
        <div class="primary-paragrafo">
            <p>
                My undergraduate education in Systems Analysis at "UMC POLO - SÃO PAULO - POMPÉIA" and Systems Analysis and Development at "Unipe POLO - CAMPINA GRANDE - MALVINAS" did not meet my expectations in terms of my learning. Both were completed halfway through the course.
            </p>
        </div>

        <div class="entidades-de-ensino">
            <h2>University education</h2>
            <div class="entidade">
                <h3>2008 / 2012 </h3>
                    <p>
                        Systems Analysis <span>UMC - University of Mogi das Cruzes</span>          
                        <br>
                        <span>Pole located in Av-Pompéia São Paulo - SP</span>   
                    </p>
            </div>
            <div class="entidade">
                <h3>2015 / 2017 </h3>
                <p>
                    Analysis and systems developmen <span>UNIP - Paulista University</span>          
                    <br>
                    <span>Pole located Av-Marechal Floriano Peixoto. 1461 Santo Antônio - Malvinas Campina Grande - PB</span>   
                </p>
            </div>
        </div>
    </div>

</section>