<section class="section">
    <div class="title">
        <h1>Formação Acadêmica</h1>
    </div>
    <div class="section-body">
        <div class="primary-paragrafo">
            <p>
                <b>Formação</b> type of modal window that appears in front of app content to provide critical information, or prompt for a decision to be made.
            </p>
        </div>

        <div class="entidades-de-ensino">
            <h2>Ensino</h2>
            <div class="entidade">
                <h3>2002 / 2004</h3>
                <p>
                    <b>Faculdade Motiva</b>
                    curso arquitetura interiores
                </p>
            </div>
            <div class="entidade">
                <h3>2002 / 2004</h3>
                <p>
                    <b>Faculdade Motiva</b>
                    curso arquitetura interiores
                </p>
            </div>
        </div>
    </div>

</section>