<section class="section">
    <div class="title">
        <h1>Educação acadêmica</h1>
    </div>
    <div class="section-body">
        <div class="primary-paragrafo">
            <p>
                Minha formação em Análise de Sistemas e Análise e Desenvolvimento de Sistemas não atendeu às minhas expectativas em termos de aprendizado. Ambos os cursos foram concluídos pela metade.        </div>

        <div class="entidades-de-ensino">
            <h2>Formação universitária</h2>
            <div class="entidade">
                <h3>2008 / 2012 </h3>
                    <p>
                        Análise de Sistemas <span>UMC - Universidade Mogi das Cruzes</span>          
                        <br>
                        <span>Polo Av-Pompéia São Paulo - SP</span>   
                    </p>
            </div>
            <div class="entidade">
                <h3>2015 / 2017 </h3>
                <p>
                    Analise e desenvolvimento de sistemas <span>UNIP - Paulista University</span>          
                    <br>
                    <span>Polo Av-Marechal Floriano Peixoto. 1461 Santo Antônio - Malvinas Campina Grande - PB</span>   
                </p>
            </div>
        </div>
    </div>

</section>