<section class="section">
    <div class="title">
        <h1>Experiência Profissional</h1>
    </div>
    <div class="primary-paragrafo">
        <p>
            Minha experiência com desenvolvimento fullstck no front-end:[ Angular, Html, Css, Js ], back-end: [ firebase, web2py, Nodejs ], Designer: [ Figma, Scss, Gimp].
        </p>
        <div class="cards">
            @for (card of dataCards; track $index) {
                <card-experience [card]="card"></card-experience>
            }
        </div>
    </div>
</section>