@import "../../../../theme/variables.scss";

.section {
  background: $secondary-color;

  .primary-paragrafo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 21px;

    .cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8px;
      margin: 2px auto;
      // align-items: center;
      // align-content: center;

    }
  }
}

@media(max-width: 650px) {
    .section {
        .primary-paragrafo {
            .cards{
                flex-direction: column;
            }
        }

    }
}