<section class="section">
    <div class="title">
        <h1>Habilidades</h1>
    </div>

    <div class="section-body">
    <div class="primary-paragrafo">
        <p>
            Habilidades em <b>front-end</b> [ Angular, HTML, SCSS, JS ] and <b>back-end</b> [ Web2py, Firebase, Nodejs ]
        </p>
    </div>

    <div class="entidades-skills">
        <h2>Habilidades Pessoal</h2>
        <app-bar-loading [title]="'Autodidata'" [bar]="90"></app-bar-loading>
        <app-bar-loading [title]="'Zbrush'" [bar]="80"></app-bar-loading>
    </div>

    <div class="entidades-skills">
        <h2>Habilidades Profissional</h2>
        <app-bar-loading [title]="'Algular'" [bar]="70"></app-bar-loading>
        <app-bar-loading [title]="'HTML'" [bar]="50"></app-bar-loading>
        <app-bar-loading [title]="'CSS'" [bar]="60"></app-bar-loading>
        <app-bar-loading [title]="'JS'" [bar]="70"></app-bar-loading>
        <app-bar-loading [title]="'Nodejs'" [bar]="40"></app-bar-loading>
        <app-bar-loading [title]="'Python'" [bar]="40"></app-bar-loading>
        <app-bar-loading [title]="'Figma'" [bar]="70"></app-bar-loading>
    </div>
</div>
</section>