<section class="section">
    <div class="title">
        <h1>Skills</h1>
    </div>

    <div class="section-body">
    <div class="primary-paragrafo">
        <p>
            Habilidades em <b>front-end</b> [ Angular, HTML, SCSS, JS ] and <b>back-end</b> [ Web2py, Firebase, Nodejs ]
        </p>
    </div>

    <div class="entidades-skills">
        <h2>Hard skills</h2>
        <app-bar-loading [title]="'Algular'" [bar]="70"></app-bar-loading>
        <app-bar-loading [title]="'Javascript'" [bar]="70"></app-bar-loading>
        <app-bar-loading [title]="'Typescript'" [bar]="70"></app-bar-loading>
        <app-bar-loading [title]="'Firebase'" [bar]="70"></app-bar-loading>
        <app-bar-loading [title]="'Figma'" [bar]="80"></app-bar-loading>
        <app-bar-loading [title]="'Material Designer'" [bar]="80"></app-bar-loading>
        <app-bar-loading [title]="'Tailwind'" [bar]="80"></app-bar-loading>
        <app-bar-loading [title]="'Sass'" [bar]="80"></app-bar-loading>
    </div>

    <div class="entidades-skills">
        <h2>Soft skills</h2>
        <app-bar-loading [title]="'Autodidata'" [bar]="90"></app-bar-loading>
        <app-bar-loading [title]="'Fácil aprendizado'" [bar]="80"></app-bar-loading>
        <app-bar-loading [title]="'Trabalho em equipe'" [bar]="80"></app-bar-loading>
        <app-bar-loading [title]="'Gestão de tempo'" [bar]="70"></app-bar-loading>
    </div>
</div>
</section>