
@import "../../../theme/variables.scss";


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px;

    background: $detach-color;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 3px solid $secondary-text;

    img {
        background: $detach-color;
    }
    p {
        background: $detach-color;
        font-size: 12px;
    }
}
