<section class="section">
    <div class="title">
        <h1>Sobre mim</h1>
    </div>
    <div class="primary-paragrafo">
        <p>
            <b>Wisis vitae at</b>, elementum hendrerit ullamcorper fringilla amet, In tincidunt est. orci adipiscing non 
            fringilla hendrerit Ut laoreet placerat porta ultrices non orci viverra tortor. Donec commodo vel Ut malesuada adipiscing 
            elementum laoreet nec vitae malesuada venenatis nulla, venenatis tincidunt sapien commodo facilisis sed est. varius ex. at 
        </p>
    </div>
    <section class="primary-section">
        <div class="informacoes-pessoais">
            <h2>Iformações Pessoais</h2>
            <p><b>Data nascimento</b> 11-12-1999</p>
            <p><b>Whatsaap</b> +55 (11) 2222-9999</p>
            <p><b>Email</b> josadil.com</p>
            <p><b>Residente</b> São Paulo - SP</p>      
        </div>
        <div class="interesses">
            <h2>Interesses</h2>
            <div class="icons-interesses">
                <buttom-icon-primary [title]="'Musica'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Musica'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Musica'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Musica'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Musica'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Musica'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Musica'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Musica'"></buttom-icon-primary>
            </div>
            
        </div>
    </section>
</section>