@import "../../../../theme/variables.scss";

.section {

  background: -webkit-linear-gradient($secondary-color, $primary-color);

  .primary-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    // padding: 10px 0;
    font-family: "Roboto", sans-serif;

    h2 {
      padding-bottom: 14px;
    }
    
    .informacoes-pessoais {
      flex: 1;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      
      p {
        font-family: "Roboto", sans-serif;
        padding-bottom: 6px;

        b {
          color: $secondary-text;
          font-weight: 400;
        }
      }
    }

    .interesses {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icons-interesses {
        display: ruby;
        // flex-flow: wrap;
      }
    }
  }
}

@media(max-width: 690px) {
  .primary-section {
    display: contents !important;
    gap: 12px;
  }

}