<section class="section">
    <div class="title">
        <h1>Sobre mim</h1>
    </div>
    <div class="primary-paragrafo">
        <p>
            Olá Sou José Vicente de Sousa! Neste site irei mostrar projetos que estou criando ou que já estão finalizados, Atualmente Desenvolvo para web com as tecnologias <b>Angular</b> para o front-end e <b>Firebase, Nodejs</b> para o Back-end. para o Designer uso o <b>Figma</b>. Espero que gostem dos meus projetos!
        </p>
    </div>
    <section class="primary-section">
        <div class="informacoes-pessoais">
            <h2>Informações pessoais</h2>
            <div class="p-wapper">
                <p><b>Nome</b> José Vicente de Sousa</p>
                <p><b>Whatsaap</b> +55 (83) 99322-2247</p>
                <p><b>Email</b> jose.vicente.de.sousa&#64;gmail.com</p>
                <p><b>Residente</b> São Paulo - SP</p> 
            </div>     
        </div>
        <div class="interesses">
            <h2>Serviços</h2>
            <div class="icons-interesses">
                <buttom-icon-primary [title]="'HTML'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'CSS'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'SASS'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'ANGULAR'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'JS'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'TS'"></buttom-icon-primary>
            </div>
            
        </div>
    </section>
</section>