<section class="section">
    <div class="title">
        <h1>About me</h1>
    </div>
    <div class="primary-paragrafo">
        <p>
            <!-- Olá Sou José Vicente de Sousa! Neste site irei mostrar projetos que estou criando ou que já estão finalizados, Atualmente Desenvolvo para web com as tecnologias <b>Angular</b> para o front-end e <b>Figma</b> para o designer. Espero que gostem dos meus projetos! -->
            Hello, I'm José Vicente de Sousa! On this website, I will showcase projects that I'm currently working on or have already completed. Currently, I develop for the web using the <b>Angular</b> framework for front-end and <b>Figma</b> for design. I hope you enjoy my projects!
       
        </p>
    </div>
    <section class="primary-section">
        <div class="informacoes-pessoais">
            <h2>Personal information</h2>
            <div class="p-wapper">
                <p><b>Name</b> José Vicente de Sousa</p>
                <p><b>Whatsaap</b> +55 (83) 99322-2247</p>
                <p><b>Email</b> jose.vicente.de.sousa<b>a</b>gmail.com.com</p>
                <p><b>Residente</b> São Paulo - SP</p> 
            </div>     
        </div>
        <div class="interesses">
            <h2>Interests</h2>
            <div class="icons-interesses">
                <buttom-icon-primary [title]="'Musica'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Game'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Sport'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Cinema'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Jobs'"></buttom-icon-primary>
                <buttom-icon-primary [title]="'Leitura'"></buttom-icon-primary>
            </div>
            
        </div>
    </section>
</section>