@import "../../../theme/variables.scss";


.main-buttom {
  background: $primary-color-3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 26px;
  border-radius: 7px;

}
