<section class="section">
    <div class="title">
        <h1>Contate-me</h1>
    </div>
    <div class="primary-paragrafo">
        <p>
            Encontre-me em qualquer uma dessas plataformas, responderei o mais rápido possível. Obrigado por visitar meu portfólio.
        </p>
    </div>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/josevicentedesousa/">
            <img ngSrc="./assets/icons/social/linkedin.svg" width="36" height="36">
        </a>
        <a href="https://github.com/josevsousa/">
            <img ngSrc="./assets/icons/social/github.svg" width="32" height="32">
        </a>
        <a href="https://api.whatsapp.com/send?phone=55839932222241">
            <img ngSrc="./assets/icons/social/whats.svg" width="32" height="32">
        </a>
        <a href="mailto:jose.vicente.de.sousa@gmail.com?subject=Contato dev">
            <img ngSrc="./assets/icons/social/email.svg" width="32" height="32">   
        </a>    
    </div>
</section>