@import "../../../../theme/variables.scss";

.section{      
    background: $secondary-color;

    .social-links {
        display: flex;
        align-items: center;
        display: flex;
        gap: 6px;

    }
}