<section class="section">
    <div class="title">
        <h1>Contate-me</h1>
    </div>
    <div class="primary-paragrafo">
        <p>
            Find me on any of these platforms, I will respond as soon as possible. Thank you for visiting my portfolio.
        </p>
    </div>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/josevicentedesousa/">
            <img ngSrc="./assets/icons/social/linkedin.svg" width="32" height="32">
        </a>
        <a href="https://www.instagram.com/josevicentedesousa.art/">
            <img ngSrc="./assets/icons/social/instagram.svg" width="32" height="32">
        </a>
        <a href="https://x.com/josevsousa_art">
            <img ngSrc="./assets/icons/social/twitter.svg" width="32" height="32">   
        </a>    
        <a href="https://api.whatsapp.com/send?phone=55839932222241">
            <img ngSrc="./assets/icons/social/whats.svg" width="32" height="32">
        </a>
        <a href="mailto:jose.vicente.de.sousa@gmail.com?subject=Contato dev">
            <img ngSrc="./assets/icons/social/email.svg" width="32" height="32">   
        </a>    
    </div>
</section>