


    $primary-color: #0D1318;
    $primary-color-2: #141D24;
    $primary-color-3: #263947;

    $secondary-color: #152129;
    $detach-color: #1B2933;

    $primary-text: #C2DCF1;
    $secondary-text: #53808C;
    $detach-text: #21A7B0;

    