
<div class="card">
    <div class="bord">
        <img ngSrc="./assets/img/user.jpeg" width="150" height="150">
    </div>
    <h2>José Vicente de Sousa</h2>
    <h4>Full Stack Developer</h4>
    <p>
        <a href="https://www.linkedin.com/in/josevicentedesousa/">
            <img ngSrc="./assets/icons/social/linkedin.svg" width="36" height="36">
        </a>
        <a href="https://github.com/josevsousa/">
            <img ngSrc="./assets/icons/social/github.svg" width="32" height="32">
        </a>
        <!-- <a href="https://www.instagram.com/josevicentedesousa.art/">
            <img ngSrc="./assets/icons/social/instagram.svg" width="32" height="32">
        </a> -->
        <!-- <a href="https://x.com/josevsousa_art">
            <img ngSrc="./assets/icons/social/twitter.svg" width="32" height="32">   
        </a>     -->
        <a href="https://api.whatsapp.com/send?phone=55839932222241">
            <img ngSrc="./assets/icons/social/whats.svg" width="32" height="32">
        </a>
        <a href="mailto:jose.vicente.de.sousa@gmail.com?subject=Contato dev">
            <img ngSrc="./assets/icons/social/email.svg" width="32" height="32">   
        </a>    
    </p>
</div>