
<div class="card">
    <div class="bord">
        <img ngSrc="./assets/img/user.jpeg" width="150" height="150">
    </div>
    <h2>José Vicente de Sousa</h2>
    <h4>Full Stack Developer</h4>
    <p>
        <a href="http://a">
            <img ngSrc="./assets/icons/social/linkedin.svg" width="32" height="32">
        </a>
        <a href="http://b">
            <img ngSrc="./assets/icons/social/instagram.svg" width="32" height="32">
        </a>
        <a href="http://d">
            <img ngSrc="./assets/icons/social/twitter.svg" width="32" height="32">   
        </a>    
        <a href="http://c">
            <img ngSrc="./assets/icons/social/whats.svg" width="32" height="32">
        </a>
        <a href="http://d">
            <img ngSrc="./assets/icons/social/email.svg" width="32" height="32">   
        </a>    
    </p>
</div>