@import "../../../theme/variables.scss";

.card{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
        rgba(20, 30, 40, 73%) 50%,
        rgba(20, 32, 30, 0%) 76%,
        transparent);
    .bord{
        background: rgba(20 48 48 / 0.6);
        padding: 15px;
        border-radius: 50%;
        display: flex;
        margin-bottom: 11px;
        
        img{
            border-radius: 50%;
            border: 5px solid $detach-text;
        }
    }
    
    h2 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }

    h4 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 300;
        letter-spacing: 3px;
    }

    p {
        padding-top: 16px;
        a {
            margin-left: 5px;
        }
    }
}