
<div class="card">
    <div class="bord">
        <img ngSrc="./assets/img/user.png" width="150" height="150">
    </div>
    <h2>Lorem ipsum</h2>
    <h4>Engenheiro Civil</h4>
    <p>
        <a href="http://a">
            <img ngSrc="./assets/icons/TwitterX.svg" width="48" height="48">
        </a>
        <a href="http://b">
            <img ngSrc="./assets/icons/Instagram.svg" width="48" height="48">
        </a>
        <a href="http://c">
            <img ngSrc="./assets/icons/LinkedIn.svg" width="48" height="48">
        </a>
        <a href="http://d">
            <img ngSrc="./assets/icons/Facebook.svg" width="48" height="48">    
        </a>    
    </p>
</div>